/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Wildcard selector (overrides default styles) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS variables */
:root {
  --primary-font: "Rajdhani", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: rgb(25, 4, 65);
  --secondary-color: #f3fff8;
  --highlight-color: #ce4008;
  --highlight-color-light: #9984e2;
}


/* Global styles */
body {
  min-height: 100vh;
  /*background: url("../images/universe.webp") no-repeat center center/cover;*/
  background-color: red;
  font-family: var(--primary-font);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hide {
  display: none !important;
}

/* MAIN  */
main,
#main-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  background-color: #ce4008;
}

/* GAME HEADER */
#game-name {
  margin: 100px 0px;
  color: var(--primary-color);
  background-color: rgb(225, 225, 225, 0.8);
  box-shadow: 0 2px 20px 12px #58585f;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h2 {
  margin: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.smaller-name {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 3px !important;
}

/* HOME MENU */
#home-menu-buttons {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px 3px #f9f9fa;
  margin: 30px;
}

/* Game buttons */
#home-menu-buttons>button,
#game-indications>button,
#game-done-congratulations>button {
  font: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 2px 20px 4px #f9f9fa;
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  width: 180px;
}

#game-indications>button,
#game-done-congratulations>button {
  font-size: 1.5em;
  width: 200px;
}

button:hover {
  transform: rotate(6deg);
  transition: transform 0.3s ease;
  background: linear-gradient(45deg, #7943af, #3455af);
  color: var(--secondary-color);
}

/* GAME INDICATIONS*/
#game-indications {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  color: var(--primary-color);
  font: var(--primary-font);
  justify-content: space-between;
  text-align: justify;
  align-items: center;
}

#indications-text {
  background-color: rgb(225, 225, 225);
  box-shadow: 0 1px 10px 3px #f9f9fa;
  padding: 10px;
  margin-bottom: 20px;
}

#game-indications p {
  font-size: 1rem;
  line-height: 1.2;
}

#img-legend {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #d4eaf1;
  box-shadow: 0 1px 10px 3px #f9f9fa;
}

#game-indications img {
  width: 30px;
  height: 30px;
  padding: 4px;
}

figure {
  display: flex;
}

/*  MEMORY BOARD GAME */
#memory-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(4, 4rem);
  gap: 0.5rem;
  margin-bottom: 30px;
}

/* Control Area */
#controls {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225, 0.65);
  box-shadow: 0 1px 10px 3px #f9f9fa;
  color: var(--primary-color);
}

.scores,
.btn--restart {
  border: 3px solid #ffffff;
  border-radius: 50% 20% / 10% 40%;
  margin: 18px 22px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 190px;
}

.btn--restart {
  background-color: var(--highlight-color);
  border: 3px solid var(--primary-color);
  border-radius: 50% 20% / 10% 40%;
  cursor: pointer;
  margin-top: 0px;
}

.btn--restart:focus {
  background-color: var(--highlight-color-light);
  color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
}

/* GAME FINISHED - CONGRATULATIONS */
#game-done-congratulations {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

#congrats-message {
  background-color: rgb(255 87 0 / 80%);
  width: 89%;
  margin: 15px;
  padding: 20px;
}

h3 {
  font-size: 1.9rem;
}

#game-done-congratulations p {
  font-size: 1.3rem;
}

#total-movements {
  font-weight: bold;
}