/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Wildcard selector (overrides default styles) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS variables */
:root {
  --primary-font: "Rajdhani", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: rgb(25, 4, 65);
  --secondary-color: #f3fff8;
  --highlight-color: #ce4008;
  --highlight-color-light: #9984e2;
}


/* Global styles */
body {
  min-height: 100vh;
  background: url("../images/universe.webp") no-repeat center center/cover;
  font-family: var(--primary-font);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hide {
  display: none !important;
}

/* MAIN  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  /*background-color: #2208ce;*/
}

/* GAME HEADER */
#game-name {
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--primary-color);
  background-color: rgb(225, 225, 225, 0.8);
  box-shadow: 0 2px 20px 12px #58585f;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h2 {
  margin: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.smaller-name {
  margin-top: 15px !important;
  margin-bottom: 0px !important;
  padding: 3px !important;
}

/* HOME MENU */
#home-menu-buttons {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px 3px #f9f9fa;
}

/* Game buttons */
#home-menu-buttons>button,
#game-indications>button,
#game-done-congratulations>button {
  font: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 2px 20px 4px #f9f9fa;
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  width: 180px;
}

#game-indications>button,
#game-done-congratulations>button {
  font-size: 1.5em;
  width: 200px;
  margin: 10px;
}

button:hover {
  transform: rotate(6deg);
  transition: transform 0.3s ease;
  background: linear-gradient(45deg, #7943af, #3455af);
  color: var(--secondary-color);
}

.no-hover:hover {
  background: initial;
}

/* GAME INDICATIONS*/
#game-indications {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  color: var(--primary-color);
  font: var(--primary-font);
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  background-color: #dc5116;
}

#indications-text {
  background-color: rgb(225, 225, 225);
  box-shadow: 0 1px 10px 3px #f9f9fa;
  /*padding: 10px;
  margin-bottom: 20px;*/
}

#game-indications p {
  font-size: 1rem;
  line-height: 1.2;
}

#img-legend {
  display: flex;
  flex-direction: column;
  /*padding: 5px;*/
  background-color: #d4eaf1;
  box-shadow: 0 1px 10px 3px #f9f9fa;
}

#game-indications img {
  width: 30px;
  height: 30px;
  /*padding: 4px;*/
}

figure {
  display: flex;
}

/*  MEMORY BOARD GAME */
#memory-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 4.2rem);
  grid-template-rows: repeat(4, 4.2rem);
  gap: 0.5rem;
  margin-bottom: 30px;
  justify-content: center;
}

/* Control Area */
#controls {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225, 0.65);
  box-shadow: 0 1px 10px 3px #f9f9fa;
  color: var(--primary-color);
}

.scores,
.btn--restart {
  border: 3px solid #ffffff;
  border-radius: 50% 20% / 10% 40%;
  margin: 18px 22px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 190px;
}

.btn--restart {
  background-color: var(--highlight-color);
  border: 3px solid var(--primary-color);
  border-radius: 50% 20% / 10% 40%;
  cursor: pointer;
  margin-top: 0px;
}

.btn--restart:focus {
  background-color: var(--highlight-color-light);
  color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
}

/* GAME FINISHED - CONGRATULATIONS */
#game-done-congratulations {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin: 30px;
}

#congrats-message {
  background-color: rgb(255 87 0 / 80%);
  width: 89%;
  margin: 15px;
  padding: 20px;
}

h3 {
  font-size: 2rem;
  padding: 10px;
}

#game-done-congratulations p {
  font-size: 1.3rem;
}

#total-movements {
  font-weight: bold;
}

/* MEDIA QUERIES */

/*Media Query: Large or landscape phones min-width: 576px)*/

/* Media Query: Tablets and Up */
@media screen and (min-width:768px) {

  /* GAME HEADER */
  #game-name {
    width: 420px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  .smaller-name {
    margin-bottom: 60px !important;
  }

  /* HOME MENU */
  #home-menu-buttons {
    margin: 30px;
  }

  #home-menu-buttons>button,
  #game-indications>button,
  #game-done-congratulations>button {
    font-size: 2.2rem;
    width: 300px;
  }

  #game-indications>button,
  #game-done-congratulations>button {
    font-size: 1.5em;
    width: 200px;
  }

  /* GAME INDICATIONS */
  #game-indications {
    max-width: 600px;
  }

  /*  MEMORY BOARD GAME */
  #memory-game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #game-board {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 6rem);
    gap: 1rem;
    margin-left: 20px;
  }

  /* Control Area */
  #controls {
    height: 320px;
    margin: 30px;
  }

  .scores,
  .btn--restart {
    font-size: 1.5rem;
    width: 200px;
  }

  .btn--restart {
    margin-top: 20px;
    padding: 15px;
    width: 200px;
  }

  /* GAME FINISHED - CONGRATULATIONS */
  #game-done-congratulations {
    width: 500px;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
  }

  #game-done-congratulations p {
    font-size: 1.4rem;
  }
}

/* Media Query: Laptops and Up */
@media screen and (min-width:992px) {

  /* GAME HEADER */
  #game-name {
    width: 520px;
  }

  .smaller-name {
    margin-bottom: 40px !important;
  }

  /* HOME MENU */
  #game-indications>button,
  #game-done-congratulations>button {
    width: 300px;
  }

  /* GAME INDICATIONS */
  #game-indications {
    max-width: 1000px;
  }

  #game-indications p {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  #game-indications img {
    width: 40px;
    height: 40px;
    padding: 4px;
  }

  /*  MEMORY BOARD GAME */
  #game-board {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
  }

  /* Control Area */
  #controls {
    height: 400px;
    margin-left: 80px;
    justify-content: center;
  }

  /* GAME FINISHED - CONGRATULATIONS */
  #game-done-congratulations {
    width: 700px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 2.7rem;
  }

  #game-done-congratulations p {
    font-size: 1.6rem;
  }
}

/* Media Query: Extraordinary section in more than 1200px */
@media screen and (min-width:1200px) {

  /* GAME HEADER */
  #game-name {
    width: 1000px;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  .smaller-name {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
  }

  /* HOME MENU */
  #home-menu-buttons {
    margin: 50px;
    padding: 70px;
  }

  #home-menu-buttons>button,
  #game-indications>button,
  #game-done-congratulations>button {
    font-size: 4rem;
    width: 600px;
    margin: 50px;
  }

  /* GAME INDICATIONS */
  #game-indications {
    margin: 50px;
    max-width: 1500px;
  }


  #indications-text {
    padding: 20px;
    margin-bottom: 40px;
  }

  #game-indications p {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  #img-legend {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #d4eaf1;
    box-shadow: 0 1px 10px 3px #f9f9fa;
    margin-bottom: 50px;
  }

  #game-indications img {
    width: 80px;
    height: 80px;
    padding: 4px;
  }

  figure {
    display: flex;
    font-size: 2.4rem;
  }

  /*  MEMORY BOARD GAME */
  #memory-game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  #game-board {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(4, 10rem);
    gap: 1.2rem;
    margin: 70px 0px;
  }

  /* Control Area */
  #controls {
    height: 620px;
    margin-left: 50px;
  }

  .scores,
  .btn--restart {
    font-size: 2.5rem;
    width: 300px;
  }

  .btn--restart {
    margin-top: 40px;
    padding: 15px;
  }

  /* GAME FINISHED - CONGRATULATIONS */
  #game-done-congratulations {
    margin: 50px;
    width: 900px;
  }

  #congrats-message {
    margin: 50px;
  }

  h3 {
    font-size: 5rem;
  }

  #game-done-congratulations p {
    font-size: 3rem;
  }
}